@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Colors
$blue: #0077FF;
$white: #FFFFFF;
$green: #098171;
$lightblue: rgba(108, 161, 221, 0.623);
$purpleUx: #9d61c2;
$lightgreen: #60d1a8;
$greenblue: #3e31f16e;
$purepurple: #8001ff98;
$blackblur: rgba(0, 0, 0, 0.08);

//Breakpoints
$desktop: 1024px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500px;
    color: black;
}
footer{
    width: 100%;
    height: 30%;
    background-color: black;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 95%;
    width: 100%;
    height: 100%;

    .navMobile{
        overflow: hidden;
        background-color: $lightblue;
        position: relative;
        width: 100%;
        grid-row: 1;
    }

    .navMobile #linkNav {
    display: none;
    }
    .navMobile a {
        float: left;
        color: rgb(2, 2, 2);
        padding: 10px 13px;
        text-decoration: none;
        font-size: 16px;
    }
    .navMobile a.icon {
        float: right;
    }

   
    .presentation_label{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        grid-row: 2;
        background-color: rgba(108, 161, 221, 0.623);
    
        .presentation_text{
            font-size: 1.5rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
        }
        .navigation_arrow {
            padding: 70px;
            font-size: 3.7rem;

            a{
                color: $white;
            }

            a:link{
                
                text-decoration: none;
            }
        }
        
    }
    
    
    .barraNavegação{
        display: none;
    }
    .menuMobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        .listaMobile{
            list-style: none;
            margin: 0;
            padding: 15px;
        }
        
        a:link{
            text-decoration: none;
        }
    }
    .about_label{
       display: flex;
       flex-direction: column;
       padding: 15px;

       h1{
        font-size: 2.0rem;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
       }

    }
}
 .presentation_label2{
       display: grid;
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;

        .presentation_text2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
@media only screen and (min-width: $desktop){
     .grid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 85%;
        width: 100%;
        height: 100%;

        .presentation_label{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            grid-row: 2;
            background-color: $lightblue;
            .presentation_text{
                font-size: 3.5rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                
            }
            
        }
        .barraNavegação{
            display: flex;
            background-color:  $lightblue;
        }
        .menuMobile{
            display: none;
        }
        .logoMobile{
            display: none;
        }
        .navMobile{
            display: none;
        }
    }
    .presentation_label2{
       display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,$lightblue,$greenblue,$purepurple) ;
      
        
        .presentation_text2{
            padding: 50px;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.3rem;      
            background-color: $blackblur;
                                  
            
        }
        
        
    }
    .presentation_label3{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
       


        .presentation_text3{
            padding: 125px;
            text-align: center;
            font-weight: 700;

            
            h2{
                color: $white;
            }
            .bg-ux{
                background-color: $purpleUx;
            }
            .bg-design{
                background-color: $lightgreen;
            }
        }
        .hardskills{
            background-color: $lightblue;
        }
        .softskills{
            background-color: $white;
            
            h2{
                color: black;
            }
        }
    }
}