@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500px;
  color: black;
}

footer {
  width: 100%;
  height: 30%;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5% 95%;
  width: 100%;
  height: 100%;
}
.grid .navMobile {
  overflow: hidden;
  background-color: rgba(108, 161, 221, 0.623);
  position: relative;
  width: 100%;
  grid-row: 1;
}
.grid .navMobile #linkNav {
  display: none;
}
.grid .navMobile a {
  float: left;
  color: rgb(2, 2, 2);
  padding: 10px 13px;
  text-decoration: none;
  font-size: 16px;
}
.grid .navMobile a.icon {
  float: right;
}
.grid .presentation_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-row: 2;
  background-color: rgba(108, 161, 221, 0.623);
}
.grid .presentation_label .presentation_text {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.grid .presentation_label .navigation_arrow {
  padding: 70px;
  font-size: 3.7rem;
}
.grid .presentation_label .navigation_arrow a {
  color: #FFFFFF;
}
.grid .presentation_label .navigation_arrow a:link {
  text-decoration: none;
}
.grid .barraNavegação {
  display: none;
}
.grid .menuMobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid .menuMobile .listaMobile {
  list-style: none;
  margin: 0;
  padding: 15px;
}
.grid .menuMobile a:link {
  text-decoration: none;
}
.grid .about_label {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.grid .about_label h1 {
  font-size: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.presentation_label2 {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  height: 100%;
}
.presentation_label2 .presentation_text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    width: 100%;
    height: 100%;
  }
  .grid .presentation_label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-row: 2;
    background-color: rgba(108, 161, 221, 0.623);
  }
  .grid .presentation_label .presentation_text {
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  .grid .barraNavegação {
    display: flex;
    background-color: rgba(108, 161, 221, 0.623);
  }
  .grid .menuMobile {
    display: none;
  }
  .grid .logoMobile {
    display: none;
  }
  .grid .navMobile {
    display: none;
  }
  .presentation_label2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(108, 161, 221, 0.623), rgba(62, 49, 241, 0.431372549), rgba(128, 1, 255, 0.5960784314));
  }
  .presentation_label2 .presentation_text2 {
    padding: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .presentation_label3 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .presentation_label3 .presentation_text3 {
    padding: 125px;
    text-align: center;
    font-weight: 700;
  }
  .presentation_label3 .presentation_text3 h2 {
    color: #FFFFFF;
  }
  .presentation_label3 .presentation_text3 .bg-ux {
    background-color: #9d61c2;
  }
  .presentation_label3 .presentation_text3 .bg-design {
    background-color: #60d1a8;
  }
  .presentation_label3 .hardskills {
    background-color: rgba(108, 161, 221, 0.623);
  }
  .presentation_label3 .softskills {
    background-color: #FFFFFF;
  }
  .presentation_label3 .softskills h2 {
    color: black;
  }
}

/*# sourceMappingURL=style.css.map */
