.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.barraNavegacao{
    background-color: rgba(255, 255, 255, 0);
}
.quemSou{
    margin: auto;
}
body{
    background-color: powderblue;
}